<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Система поддержки решений</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<!-- Кнопка справки с иконкой -->
<button id="help-button" title="Справка">?</button>

<!-- Модальное окно -->
<div id="help-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Справочная информация</h2>
  <h3>📘 Что такое коэффициент благоприятствования среды (КБС)?</h3>
  <p>
    Коэффициент благоприятствования среды (КБС) — это интегральный показатель, помогающий оценить,
    насколько конкретная территория подходит для размещения нового туристического бизнеса.
    Он рассчитывается на основе пространственных и инфраструктурных факторов, влияющих на привлекательность и эффективность размещения объекта.
  </p>
  <h3>📊 Какие параметры учитываются при расчёте КБС?</h3>
  <ul>
    <li>
      <strong>Количество инфраструктурных объектов:</strong> наличие рядом кафе, парковок, отелей и других объектов. Указывать на развитую среду, привлекательную для клиентов и удобную для бизнеса.
    </li>
    <li>
      <strong>Расстояние до туристических маршрутов:</strong> близость к популярным маршрутам увеличивает поток туристов и потенциальных клиентов.
    </li>
    <li>
      <strong>Достопримечательности:</strong> природные и культурные объекты рядом делают территорию более интересной для посещения.
    </li>
    <li>
      <strong>Количество конкурентов:</strong> высокая конкуренция может усложнить развитие бизнеса, особенно если рынок насыщен аналогичными предложениями.
    </li>
    <li>
      <strong>Тип ландшафтной зоны:</strong> природные особенности территории влияют на её привлекательность, разрешённые виды деятельности и возможности развития бизнеса.
    </li>
  </ul>

  <h3>⚖️ Что означают веса параметров?</h3>
  <p>
    Веса позволяют пользователю указать важность каждого параметра при расчёте КБС. Это делает систему гибкой и адаптируемой
    под разные сценарии и стратегии. Например:
  </p>
  <ul>
    <li>Можно увеличить вес маршрутов, если бизнес ориентирован на активных туристов.</li>
    <li>Уменьшить значение конкурентов, если вы планируете открыть уникальный объект.</li>
  </ul>
  <p>
    Таким образом, веса помогают расставить приоритеты в зависимости от запроса пользователя при выборе оптимального места для туристического бизнеса.
  </p>
</div>
</div>
    <div class="form-container">
        <h3>Выберите тип бизнеса</h3>
        <select id="business-type">
            <option value="public_eating">Общественное питание</option>
            <option value="accommodation_places">Место размещения</option>
        </select>
        
        <h3>Настройка весовых коэффициентов</h3>
        <div class="select-grid">
        <!-- <div class="select-pair"> -->
        <label for="weight-other">Инфраструктурные объекты:</label>
        <select id="weight-other">
            <option value="0">0 - не важно</option>
            <option value="1" selected>1 - мало-важно</option>
            <option value="2">2 - важно</option>
            <option value="3">3 - очень важно</option>
        </select>
        <!-- </div> -->
        <!-- <div class="select-pair"> -->
        <label for="weight-distance">Расстояние до маршрута:</label>
        <select id="weight-distance">
            <option value="0">0 - не важно</option>
            <option value="1" selected>1 - мало-важно</option>
            <option value="2">2 - важно</option>
            <option value="3">3 - очень важно</option>
        </select>
        <!-- </div> -->
        <!-- <div class="select-pair"> -->
        <label for="weight-landmark">Достопримечательности:</label>
        <select id="weight-landmark">
            <option value="0">0 - не важно</option>
            <option value="1" selected>1 - мало-важно</option>
            <option value="2">2 - важно</option>
            <option value="3">3 - очень важно</option>

        </select>
        <!-- </div> -->
        <!-- <div class="select-pair"> -->
        <label for="weight-density">Плотность конкурентов:</label>
        <select id="weight-density">
            <option value="0">0 - не важно</option>
            <option value="1" selected>1 - мало-важно</option>
            <option value="2">2 - важно</option>
            <option value="3">3 - очень важно</option>
        </select>
        <!-- </div> -->
        <!-- <div class="select-pair"> -->
        <label for="weight-zone">Ландшафтная зона:</label>
        <select id="weight-zone">
            <option value="0">0</option>
            <option value="1" selected>1 - мало-важно</option>
            <option value="2">2 - важно</option>
            <option value="3">3 - очень важно</option>

        </select>

        </div>
        <button id="update-map">Обновить карту</button>

        <button id="switch-map">Построить карту ландшафта</button>

        <h3>Построить карту плотности</h3>
        <select id="density_obj">
            <option value="public_eating">Общественное питание</option>
            <option value="accommodation_places">Место размещения</option>
            <option value="landmarks">Достопримечательности</option>
        </select>
        <button id="toggle-filters">Фильтры</button>

        <!-- Фильтры для общественного питания -->
        <div id="public-eating-filters" class="hidden">
            <h4>Фильтры</h4>
            <label>Цена:</label>
            <select id="cat-price">
                <option value="" selected>Все</option>
                <option value="1000-2000">От 1000 до 2000</option>
                <option value="2000-3000">От 2000 до 3000</option>
                <option value="3000-1000000">От 3000 и выше</option>
            </select>

            <label>Рейтинг:</label>
            <select id="cat-rating">
                <option value="" selected>Все</option>
                <option value="0-3.0">До 3.0</option>
                <option value="3.0-4.5">От 3.0 до 4.5</option>
                <option value="4.5-5.0">От 4.5 до 5.0</option>
            </select>

            <label>Кухня:</label>
            <select id="cat-cuisine">
                <option value="">Все</option>
                <option value="бурятская">Бурятская</option>
                <option value="европейская">Европейская</option>
                <option value="русская">Русская</option>
                <option value="авторская">Авторская</option>
                <option value="морская">Морская</option>
            </select>

            <label>Тип:</label>
            <select id="cat-place-type">
                <option value="">Все</option>
                <option value="кафе">Кафе</option>
                <option value="паб">Паб</option>
                <option value="бар">Бар</option>
                <option value="пиццерия">Пиццерия</option>
                <option value="ресторан">Ресторан</option>
            </select>
        </div>

        <!-- Фильтры для размещения -->
        <div id="accommodation-filters" class="hidden">
            <h4>Фильтры</h4>
            <label>Цена:</label>
            <select id="accommodation-price">
                <option value="" selected>Все</option>
                <option value="0-1000">До 1000</option>
                <option value="1000-2000">От 1000 до 2000</option>
                <option value="2000-3000">От 2000 до 3000</option>
                <option value="3000-1000000">От 3000 и выше</option>
            </select>

            <label>Рейтинг:</label>
            <select id="accommodation-rating">
                <option value="" selected>Все</option>
                <option value="0-3.0">До 3.0</option>
                <option value="3.0-4.5">От 3.0 до 4.5</option>
                <option value="4.5-5.0">От 4.5 до 5.0</option>
                <option value="5.0-7.0">От 5.0 до 7.0</option>
                <option value="7.0-100.0">От 7.0</option>
            </select>
        </div>

        <button id="density-map">Отобразить</button>

        <!--wordcloud-->
    <div class="wordcloud-container">
        <div>
        <h3>Создание облака слов</h3>
        <select id="business-type-wordcloud">
            <option value="public_eating">Общественное питание</option>
            <option value="accommodation_places">Место размещения</option>
        </select>
        <h3>Тип отзывов</h3>
        <select id="type-phrase">
            <option value="pros">Положительные</option>
            <option value="cons">Отрицательные</option>
        </select>
        </div>
        <button id="wordcloud-button">Создать облако слов</button>
    </div>
    </div>

    <div class="map-container">
        <iframe id="map-frame" src="{{ url_for('static', filename=map_file) }}"></iframe>
    </div>

    
    <script>
        document.getElementById("update-map").addEventListener("click", function () {
        const businessType = document.getElementById("business-type").value;
        const weights = {
        other_object_count_score: document.getElementById("weight-other").value,
        distance_to_route_score: document.getElementById("weight-distance").value,
        landmark_count_score: document.getElementById("weight-landmark").value,
        object_count_score: document.getElementById("weight-density").value,
        degree_landshaft_zone_score: document.getElementById("weight-zone").value
    };

    fetch("/update_map", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            business: businessType,
            weights: weights
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.map_file) {
            document.getElementById("map-frame").src = "/static/" + data.map_file;
        }
    });
            $("#switch-map").click(function() {
                $.post("/switch_map", function(data) {
                    $("#map-frame").attr("src", data.map_file + "?v=" + new Date().getTime());
                });
            });

            // Обработчик выбора бизнеса
            $("#density_obj").change(function() {
                let selectedType = $(this).val();
                $(".hidden").hide(); // Скрываем все формы
                if (selectedType === "public_eating") {
                    $("#public-eating-filters").show();
                } else if (selectedType === "accommodation_places") {
                    $("#accommodation-filters").show();
                }
            });

            // Кнопка "Фильтры" - сворачивание/разворачивание
            $("#toggle-filters").click(function() {
                let selectedType = $("#density_obj").val();
                if (selectedType === "public_eating") {
                    $("#public-eating-filters").toggle();
                } else if (selectedType === "accommodation_places") {
                    $("#accommodation-filters").toggle();
                }
            });

            // Обработчик кнопки "Отобразить"
            $("#density-map").click(function() {
                let selectedType = $("#density_obj").val();
                let filterData = {};

                if (selectedType === "public_eating") {
                    filterData = {
                        type: selectedType,
                        price: $("#cat-price").val(),
                        rating: $("#cat-rating").val(),
                        cuisine: $("#cat-cuisine").val(),
                        placeType: $("#cat-place-type").val()
                    };
                } else if (selectedType === "accommodation_places") {
                    filterData = {
                        type: selectedType,
                        price: $("#accommodation-price").val(),
                        rating: $("#accommodation-rating").val()
                    };
                }
                else if (selectedType === "landmarks") {
                    filterData = {
                        type: selectedType
                    };
                }


                console.log(filterData); // Выводим в консоль (можно отправить на сервер)
                
                $.post("/density_map", filterData, function(data) {
                    $("#map-frame").attr("src", data.map_file + "?v=" + new Date().getTime());
                });
            
            });
        });


        //обработчик для облака слов
        document.getElementById("wordcloud-button").addEventListener("click", function () {
    const businessType = document.getElementById("business-type-wordcloud").value;
    const phraseType = document.getElementById("type-phrase").value;

    fetch("/create_wordcloud", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            business_type: businessType,
            phrase_type: phraseType
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.wordcloud_path) {
            // Вставляем или обновляем картинку на странице
            let img = document.getElementById("wordcloud-img");
            if (!img) {
                img = document.createElement("img");
                img.id = "wordcloud-img";
                document.querySelector(".wordcloud-container").appendChild(img);
            }
            img.src = data.wordcloud_path + "?v=" + new Date().getTime(); // чтобы не кешировалось
        }
    });
});

// Открытие и закрытие справочного окна
document.getElementById("help-button").addEventListener("click", function () {
    document.getElementById("help-modal").style.display = "block";
});

document.querySelector(".close-button").addEventListener("click", function () {
    document.getElementById("help-modal").style.display = "none";
});

// Закрытие при клике вне окна
window.addEventListener("click", function (event) {
    const modal = document.getElementById("help-modal");
    if (event.target === modal) {
        modal.style.display = "none";
    }
});
    </script>
</body>
</html>